@import "../../../styles/main";

#second-step-wrapper {

  @include md {
    margin-left: 5em !important;
    margin-right: 5em !important;
  }

  #message-row {
    margin-top: 0.6em;

    .ant-alert {
      text-align: center;
    }
  }

  #average-row {
    margin: 0.7em 0;

    p {
      font-size: 14px;
      text-align: center;
      margin-bottom: 0;

      span {
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  .grades-row {
    color: #555;

    .grade-col {
      text-align: center;
      margin: 5px 0px;

      .grade-label {
        font-size: 1rem;
        line-height: 2.2;
        white-space: nowrap;
      }
    }

    .grade-input {
      width: 100%;
    }

    .ant-input-number-lg,
    .ant-input-number-lg input {
      text-align: center;
    }

    .ant-input-number-lg {
      font-size: 1em;
    }
  }

  #message-row {
    .ant-alert-message {
      color: #000000a6;
    }
  }

  .buttons-row {
    button {
      font-size: 1rem;

      &#calc-button {
        margin-bottom: 6px;
      }
      
      &.ant-btn-danger {
        background-color: $red;
        border-color: $red;
      }
    }
  }
}
