@import "../../styles/main";

#second-step-wrapper {

  @include md {
    margin-left: 5em !important;
    margin-right: 5em !important;
  }

  #message-row {
    margin-top: 0.6em;

    .ant-alert {
      text-align: center;
    }
  }

  .grades-row {
    color: #222;

    .grade-col {
      text-align: center;
      margin: 5px 0px;

      .grade-label {
        font-size: 0.9rem;
        line-height: 2.2;
        white-space: nowrap;
      }
    }

    .grade-input {
      width: 100%;
    }

    .ant-input-number-lg,
    .ant-input-number-lg input {
      text-align: center;
    }

    .ant-input-number-lg {
      font-size: 1em;
    }
  }

  .buttons-row {
    #calc-button {
      font-size: 1em;
      height: 2.3em;
      margin-bottom: 6px;
    }

    .ant-btn-danger {
      background-color: $red;
      border-color: $red;
    }
  }
}
