@import "../../styles/main.scss";

.ant-row {
  margin: 20px 0px;
}

#page-progress-title {
  text-align: center;
}

.ant-layout {
  background: transparent;
  flex: 1;
  background-color: $light-green;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-layout-header {
  background: $red;
  color: white;
  box-shadow: 0px -16px 40px 9px rgba(1, 1, 1, 0.75);
  font-size: 0.7em;
  text-align: center;
}

.ant-layout-content {
  padding: 0 20px;
  min-height: 100vh;
}

.ant-layout-content h2,
h1 {
  color: white;
}

#page-progress-title {
  font-size: 2em;
  margin: 1em 0;
}

.ant-steps {
  margin-top: 10px;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #222;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: #444;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #666;
}

.ant-steps-item {
  flex: 1 !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
  background-color: #ddd;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
  background-color: #ddd;
}

@media (max-width: 660px) and (min-width: 480px) {
  .ant-steps-horizontal:not(.ant-steps-label-vertical)
    .ant-steps-item-description {
    max-width: 94px;
  }
}
@media (min-width: 480px) {
  .ant-steps {
    text-align: center;
  }
}
