.ant-row {
  margin: 20px 0px;
}

.ant-layout {
  background: transparent;
  justify-content: center;
}

.ant-layout-header {
  background: transparent;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 1.5em;
  height: auto;
}

.ant-layout-content {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  justify-content: center;
}

.ant-steps{
  margin-top: 10px;
}

.ant-steps-item {
  flex: 1 !important;
}

.grade-type-button {
  height: 5em;
}

@media (max-width: 660px) and (min-width: 480px) {
  .ant-steps-horizontal:not(.ant-steps-label-vertical)
    .ant-steps-item-description {
    max-width: 94px;
  }
}
@media (min-width: 660px){
  .ant-steps {
    text-align: center;
  }
}
